version: "2"
services:
  nginx:
    restart: always
    image: nginx
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/etc/nginx/conf.d"
      - "/etc/nginx/vhost.d"
      - "/usr/share/nginx/html"
      - "./volumes/sslcerts:/etc/nginx/certs:ro"

  nginx-gen:
    restart: always
    image: jwilder/docker-gen
    container_name: nginx-gen
    volumes:
      - "/var/run/docker.sock:/tmp/docker.sock:ro"
      - "./volumes/proxy/templates/nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl:ro"
    volumes_from:
      - nginx
    entrypoint: /usr/local/bin/docker-gen -notify-sighup nginx -watch -wait 5s:30s /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf

  letsencrypt-nginx-proxy-companion:
    restart: always
    image: jrcs/letsencrypt-nginx-proxy-companion
    container_name: letsencrypt-nginx-proxy-companion
    volumes_from:
      - nginx
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./volumes/sslcerts:/etc/nginx/certs:rw"
    environment:
      - NGINX_DOCKER_GEN_CONTAINER=nginx-gen

  gitlab:
    image: 'gitlab/gitlab-ce:latest'
    restart: always
    hostname: 'gitlab.example.com'
    environment:
      VIRTUAL_HOST: gitlab.darno.love,www.gitlab.darno.love
      VIRTUAL_NETWORK: nginx-proxy
      LETSENCRYPT_HOST: gitlab.darno.love
      LETSENCRYPT_EMAIL: eugenio00@gmail.com
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'https://gitlab.darno.love'
    ports:
      - '8081:80'
      - '8082:443'
      - '8082:22'
    volumes:
      - '/srv/gitlab/config:/etc/gitlab'
      - '/srv/gitlab/logs:/var/log/gitlab'
      - '/srv/gitlab/data:/var/opt/gitlab'

  mysql:
    restart: always
    image: mariadb
    ports:
      - '8083:3306'
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_USER: mysqlroot
      MYSQL_PASSWORD: mysqlpass
      VIRTUAL_HOST: mysql.darno.love,www.mysql.darno.love
      VIRTUAL_NETWORK: nginx-proxy
      LETSENCRYPT_HOST: mysql.darno.love
      LETSENCRYPT_EMAIL: eugenio00@gmail.com

  mongodb:
    restart: always
    image: mongo:latest
    container_name: "mongodb"
    environment:
      VIRTUAL_HOST: mongodb.darno.love,www.mongodb.darno.love
      VIRTUAL_NETWORK: nginx-proxy
      LETSENCRYPT_HOST: mongodb.darno.love
      LETSENCRYPT_EMAIL: eugenio00@gmail.com
    volumes:
      - ./data/db:/data/db
    ports:
        - 8084:27017
    command: mongod --smallfiles --logpath=/dev/null # --quiet