version: "2"
services:
  # nginx:
  #   restart: always
  #   image: nginx
  #   container_name: nginx
  #   ports:
  #     - "80:80"
  #     - "443:443"
  #   volumes:
  #     - "/etc/nginx/conf.d"
  #     - "/etc/nginx/vhost.d"
  #     - "/usr/share/nginx/html"
  #     - "./volumes/sslcerts:/etc/nginx/certs:ro"

  # nginx-gen:
  #   restart: always
  #   image: jwilder/docker-gen
  #   container_name: nginx-gen
  #   volumes:
  #     - "/var/run/docker.sock:/tmp/docker.sock:ro"
  #     - "./volumes/proxy/templates/nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl:ro"
  #   volumes_from:
  #     - nginx
  #   entrypoint: /usr/local/bin/docker-gen -notify-sighup nginx -watch -wait 5s:30s /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf

  # letsencrypt-nginx-proxy-companion:
  #   restart: always
  #   image: jrcs/letsencrypt-nginx-proxy-companion
  #   container_name: letsencrypt-nginx-proxy-companion
  #   volumes_from:
  #     - nginx
  #   volumes:
  #     - "/var/run/docker.sock:/var/run/docker.sock:ro"
  #     - "./volumes/sslcerts:/etc/nginx/certs:rw"
  #   environment:
  #     - NGINX_DOCKER_GEN_CONTAINER=nginx-gen

  gitlab:
    image: 'gitlab/gitlab-ce:latest'
    restart: always
    hostname: 'gitlab.darno.love'
    environment:
      VIRTUAL_HOST: gitlab.darno.love,www.gitlab.darno.love
      VIRTUAL_NETWORK: nginx-proxy
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'https://gitlab.darno.love'
        # Add any other gitlab.rb configuration here, each on its own line
    ports:
      - '8081:80'
      - '8082:443'
      - '8083:22'
    volumes:
      - './volumes/srv/gitlab/config:/etc/gitlab'
      - './volumes/srv/gitlab/logs:/var/log/gitlab'
      - './volumes/srv/gitlab/data:/var/opt/gitlab'
